.loader{
  width: 60px;
  height: 60px;
  border: 5px solid #EAEAEA;
  border-top: 6px solid #46A358;
  border-radius: 50%;
  animation: spin .5s linear infinite;
}

.white-background{
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  z-index: 1;
  animation: hide-loader 1s forwards .5s;
}

@keyframes spin{
  to {
    transform: rotate(360deg);
  }
}

@keyframes hide-loader{
  to {
    opacity: 0;
    visibility: hidden;
  }
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.black-text{
    color: #3D3D3D;
    font-family: "Cera Pro Regular";
    font-size: 13px;
    padding: 16px 0;
}

.exit{
    position: relative;
    right: -190px;
    bottom: -10px;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.tittle{
    color: #3D3D3D;
    font-family: "Cera Pro Medium";
    font-size: 20px;
    padding-top: 25px;
}

.tittle > span{
    color: #46A358;
}

.subtitle{
    padding-top: 30px;
}

.input{
    border-radius: 5px;
    border: 1px solid #EAEAEA;
    padding: 12px 221px 12px 14px;
}

.hide{
    position: relative;
}

.hide > img{
    position: absolute;
    right: 10px;
    bottom: 12px;
}

.input-btn{
    background:#46A358;
    border:1px solid #46A358;
    color: #FFF;
    font-family: "Cera Pro Medium";
    font-size: 16px;
    border-radius: 5px;
    padding: 16px 167px;
    margin: 16px 0;

}

.register-with{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 20px;
    gap: 8px;
}

.line{
    height: 1px;
    width: 143px;
    background: #EAEAEA;
}


.continue-with{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.continue-with-item{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding: 0px 110px;
    border-radius: 5px;
    border: 1px solid #EAEAEA;
}

.green-footer{
    display: flex;
    padding: 3px 199px;
    background: #46A358;
    margin-top: 60px;
}