.container{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 138px;
    margin-top: 121px;
    margin-bottom: 68px;
}

.top-row{
    display: flex;
    flex-direction: row;
}

.list{
    display: flex;
    gap: 28px;
}

.list-item{
    display: flex;
    align-items: center;
    padding-right: 30px;
    background: #FBFBFB;
}


.list-item > img{
    position: relative;
    top: -52px;
}

.text{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 9px;
}

.text > p{
    color: #3D3D3D;
    text-align: right;
    font-family: "Cera Pro Bold";
    font-size: 18px;
    text-transform: uppercase;
}

.text > span{
    color: #727272;
    text-align: right;
    font-family: "Cera Pro Regular";
    font-size: 14px;
    margin-bottom: 14px;
}

.btn{
    display: flex;
    align-items: center;
    border-radius: 6px;
    background: #46A358;
    padding: 11px 28px;
}

.btn > p{
    color: #FFF;
    font-family: "Cera Pro Medium";
    font-size: 14px;
    padding-right: 3px;
}

.btn > img{
    position: relative;
    bottom: -2px;
}

.bottom-row{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.bottom-row > p{
    color: #3D3D3D;
    text-align: center;
    font-family: "Cera Pro Medium";
    font-size: 30px;
}

.bottom-row > span{
    color: #727272;
    text-align: center;
    font-family: "Cera Pro Regular";
    font-size: 14px;
    margin-bottom: 20px;
}

.bottom-row-list{
    display: flex;
    gap: 44px;
}

.bottom-row-list-item{
    display: flex;
    flex-direction: column;
    gap: 9px;
    background: #FBFBFB;

}

.list-span{
    color: #727272;
    font-family: "Cera Pro Regular";
    font-size: 14px;
}

.active{
    color: #46A358;
}

.bottom-row-list-item > p{
    color: #3D3D3D;
    font-family: "Cera Pro Medium";
    font-size: 20px;
}

.read-more{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 3px;
    margin-bottom: 13px;
}

.read-more-text{
    color: #3D3D3D;
    font-family: "Cera Pro Medium";
    font-size: 14px;
}

.read-more-text-green{
    color: #46A358;
    font-family: "Cera Pro Medium";
    font-size: 14px;
}
