.container{
    margin-top: 91px;
    margin-bottom: 22px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.black-text{
  color: #3D3D3D;
  font-family: "Cera Pro Medium";
  font-size: 17px;
  font-weight: 700;
}

.grey-text{
  color: #727272;
  font-family: "Cera Pro Regular";
  font-size: 14px;

}

.menu{
  background: #FBFBFB;
}

.list-menu{
  display: flex;
  flex-direction: row;
}

.list-menu-item{
  display: flex;
  flex-direction: column;
  padding: 25px;
  gap: 17px;
}

.newsletters{
  display: flex;
  gap: 28px;
}

.input{
  display: flex;
  flex-direction: row;
  position: relative;
}

.email{
  color: #ACACAC;
  font-family: "Cera Pro Regular";
  font-size: 14px;
  padding: 12px 171px 12px 11px;
  border-radius: 6px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.06);
  outline: none; 
}

.btn{
  color: #FFF;
  font-family: "Cera Pro Medium";
  font-size: 18px;
  border-radius: 0 6px 6px 0;
  background: #46A358;
  padding: 9px 26px;
  position: absolute;
  right: -2px;
}

.text-menu{
  display: flex;
  flex-direction: column;
  gap: 9px;
}

.gradient{
  background: linear-gradient(to right, #EDF6EF, #52C368);

  padding: 25px;
}

.gradient-list{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 146.5px;
}

.gradient-list-item{
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.gradient-list-item > p{
  color: #3D3D3D;
  font-family: "Cera Pro Regular";
  font-size: 14px;
  line-height: 22px;
  }

.footer-menu{
  display: flex;
  flex-direction: row;
  background: #FBFBFB;
  padding: 33px 155px 33px 25px;
  border-bottom: 2px solid rgba(70, 163, 88, 0.20);
}

.footer-menu-nav{
  display: flex;
  flex-direction: row;
  gap: 135px;
}

.footer-menu-nav-item > p{
  padding-left: 10px;
}

.footer-menu-list-item{
  color: #3D3D3D;
  font-family: "Cera Pro Regular";
  font-size: 14px;
  line-height: 30px;
  padding: 0 10px;
}

.social-media-list{
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 20px 0px 33px 10px;
}

.pay-with{
  padding-left: 10px;
  padding-top: 13px;
}

.footer{
  color: #3D3D3D;
  font-family: "Cera Pro Regular";
  font-size: 14px;
  line-height: 30px;
  padding-top: 8px;
}